.signup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  width: auto;
  margin: 100px auto;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 2px white;
  border-radius: 12px;
  padding: 24px;
}

.signup-button{
  border-radius: 8px;
  border: 1px solid #1976d2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-fields {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.input-field {
  flex: 1;
}
